<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010168998467-dcg4hjsvdggoednie6eoku3dl1gu7aaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010168998467-dcg4hjsvdggoednie6eoku3dl1gu7aaa</string>
	<key>API_KEY</key>
	<string>AIzaSyDqsZS9l2g6Ln-TjNkgwSs7nOQMNCYBoOE</string>
	<key>GCM_SENDER_ID</key>
	<string>1010168998467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.translator.max.appWidgets</string>
	<key>PROJECT_ID</key>
	<string>dpcmp-cff38</string>
	<key>STORAGE_BUCKET</key>
	<string>dpcmp-cff38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010168998467:ios:70ea4f3a7c8c1f88ec02f6</string>
</dict>
</plist>